footer {
	width: 100%;
	padding-top: 30px;
	background-color: white;
	border-top: 1px solid rgba($color: #000, $alpha: 0.3);
	color: #999;
	display: flex;
	flex-direction: column;
	.inner {
		width: 1180px;
		margin: 0 auto;
		.footer_box {
			width: 100%;
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: flex-start;
			&::after {
				content: '';
				display: block;
				width: 100%;
				height: 1px;
				background-color: rgba($color: #000, $alpha: 0.2);
				margin: 10px 0px;
			}
			h1 {
				font: bold 30px/1 'Roboto Slab';
				text-align: center;
				margin-bottom: 20px;
			}
			ul {
				display: flex;
				margin-bottom: 20px;
				li {
					margin-right: 20px;
					text-align: center;
					a {
						font: 14px/1 'arial';
						color: #999;
					}
				}
				span {
					margin-right: 20px;
				}
			}
			p {
				font: 14px/1 'arial';
			}
		}
		.footer_under {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 10px;
			position: relative;
			.music_Cheshire,
			.muisc_party {
				width: 1180px;
				display: inline-flex;
				justify-content: center;
				flex-direction: column;
				align-items: flex-end;
				margin: 0 auto;
			}
			.search {
				width: 20%;
				display: inline-flex;
				border: 1px solid #999;
				position: absolute;
				bottom: 0;
				left: 0;
				margin-bottom: 10px;
				input {
					width: 100%;
					height: 30px;
					font: normal 14px/30px '맑은 고딕';
					border: none;
					text-align: center;
					background-color: rgba($color: white, $alpha: 0.01);
				}
			}
		}
	}
}
