* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Cafe24Supermagic-Bold-v1.0';
}

ul,
ol,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	overflow-x: hidden;
}
